div {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 210px;
	width: 50%;
	margin: 0 auto;
	text-align: center;
	padding-top: 80px;
}

div img {
	align-self: center;
	max-width: 100%;
	height: auto;
}
